$light-text-color: #f3efef;
$light-subtext-color: rgb(235, 221, 221);
$shadow-color: #272727;
$delete-color: rgb(255, 0, 0);
$edit-color: rgb(74 219 239);
$dark-accent-color: rgb(30, 95, 104);
$light-accent-color: rgb(50 161 177);
$dark-background-color: #424242;
$darkest-background-color: #303030;
$border-color: rgba(255, 255, 255, 0.12);
