$light-text-color: #adadad;
$dark-accent-color: #2a2a2a;
$light-accent-color: #464646;
$shadow-color: #272727;
$light-blue-accent-color: #009CFF;
$dark-blue-accent-color: #129490;
$red-color: rgb(173 34 34);