@import '/src/assets/styles/colors.scss';

.larger {
  font-size: 3em;
  text-align: center;
  margin: 15px;
}

.actions-panel {
  display: flex;
  justify-content: center;
  button {
    margin-right: 1.5%;
    background-color: $dark-accent-color;
    line-height: 27px !important;
    border: 1px;
    border-radius: 5%;
    color: $light-text-color;
    padding: 0px 15px;
    text-transform: uppercase;
    font-size: smaller;
    fa-icon {
      align-self: center;
      margin-right: 10px;
    }
  }
}

.act-container {
  margin: 0 auto;
  max-width: 80%;
}

.pulsate {
  text-align: center;
  color: $light-accent-color;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-top: 20%;
  animation: pulsate 3s ease-out;
  animation-iteration-count: infinite;
  opacity: 0.5;
}
@keyframes pulsate {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
