<div class="page-title larger">
  {{ selectedProject?.name }}
</div>

<div class="actions-panel">
  <button (click)="editAct(selectedProject!._id)">
    <fa-icon [icon]="['fas', 'plus']"></fa-icon>
    Act
  </button>
  <button (click)="printCSV()">
    <fa-icon [icon]="['fas', 'print']"></fa-icon>Print
  </button>
  <button (click)="editProject()">
    <fa-icon [icon]="['fas', 'user-pen']"></fa-icon>Edit
  </button>
  <button (click)="deleteProject()">
    <fa-icon [icon]="['fas', 'xmark']"></fa-icon>Delete
  </button>
</div>

<h3 class="pulsate" *ngIf="selectedProject?.acts?.length === 0">No Acts</h3>

<mat-tab-group
  class="act-container"
  *ngIf="selectedProject?.acts?.length ?? 0 > 0"
>
  <mat-tab *ngFor="let act of selectedProject?.acts" [label]="act.name">
    <h3 class="pulsate" *ngIf="act.scenes.length === 0">No scenes</h3>
    <app-act-info
      [act]="act"
      [selectedProject]="selectedProject!"
    ></app-act-info>
  </mat-tab>
</mat-tab-group>
