* {
    color: aliceblue;
}

button {
    margin-right: 1.5%;
    font-size: small;
    align-self: center;
    width: 175px;
    height: 27px;
    padding: 7px 0px 0px 0px;
    line-height: 0px!important;
}


.drag {
    width: 100px;
    height: 100px;
}