@import '/src/assets/styles/colors.scss';

.larger {
  font-size: 3em;
  text-align: center;
  margin: 15px;
}

.actions-panel {
  display: flex;
  justify-content: center;
  button {
    margin: 5px;
    background-color: $dark-accent-color;
    line-height: 27px !important;
    border: 1px;
    border-radius: 5%;
    color: $light-text-color;
    padding: 0px 15px;
    text-transform: uppercase;
    font-size: smaller;
    fa-icon {
      align-self: center;
      margin-right: 10px;
    }
  }
}

table {
  width: 40%;
  fa-icon {
    color: $delete-color;
  }
}

.table-header {
  letter-spacing: 3px;
  text-transform: uppercase;
  color: $light-accent-color;
  font-weight: 800;
}

.table-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

td {
  color: $light-subtext-color;
}

.mat-column-name {
  width: 47.5%;
}
.mat-column-character {
  width: 47.5%;
}
.mat-column-delete {
  width: 5%;
  text-align: center;
}
