* {
    color: aliceblue;
}

.title-container {
    h2, p {
        text-align: center;
    }
}

.drag-bulk-add-container {
    display: flex;
    justify-content: center;
    button {
        margin-left: 20px;
        font-weight: 100!important;
        align-self: center;
        width: 100px;
        height: 35px;
        -line-height: 0px!important;
    }
    .drag-container{
        width: 200px;
        height: 80px;
        background-color: grey;
        text-align: center;
        .drag-text {
            font-size: 15px;
            align-self: center;
        }
    }
}

.actors-container {
    display: flex;
    fa-icon {
        align-self: center;
        margin-left: 10px;
        color: red;
    }
}
h3 {
    font-size: large;
    font-weight: 100;
    .actor-name {
        color: antiquewhite;
        font-weight: 800;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    
    .actor-character {
        color: rgb(209, 243, 243);
        font-family: 'Times New Roman', Times, serif;
    }
}