<div mat-dialog-title>
    <div>Add A Play</div>
</div>
<mat-dialog-content class="input-container">
    <form [formGroup]="addPlay">
        <mat-form-field>
            <input 
                formControlName="playName"
                matInput
                placeholder="Name of play">
        </mat-form-field>
        <mat-form-field>
            <input 
                formControlName="playImage"
                matInput
                placeholder="Image Link (optional)">
        </mat-form-field>
    </form>

</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button class="button-style" (click)="cancel()">Cancel</button>
    <button mat-button class="button-style primary" (click)="save()">Save</button>
</mat-dialog-actions>
