<div class="title-container">
    <h2>Scene Name: {{selectedScene?.name}}</h2>
    <p># of Actors: {{selectedScene?.actors?.length}}</p>
 <div>

<div class="drag-container">
    <div
    cdkDropList
    id="sceneActorList"
    cdkDropListConnectedTo="actorList"
    cdkDropListSortingDisabled="true"
    (cdkDropListDropped)="drop($event)">
            <div>
                <p class="drag-text">drag an actor here to add</p>
            </div>
    </div>
</div>

<div *ngFor="let actor of selectedScene?.actors" class="actors-container">
    <h3><span class="actor-name">{{actor.firstName}} {{actor.lastName}}</span> as <span class="actor-character">{{actor.currentCharacter}}</span></h3>
    <fa-icon [icon]="['fas', 'xmark']" class="delete" (click)="remove(actor)"></fa-icon>
</div>
