@import '/src/assets/styles/colors.scss';

mat-toolbar{
    height: 7%;
    min-height: 55px;
}
.spacer {
    flex: 1 1 auto;
}
.app-title{
    display: flex;
    align-items: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 700;
    margin-left: 20px;
    img {
        width: 35px;
    }
    span {
        margin-left: 40px;
    }
}
.add, .home {
color: $light-accent-color;
}

.logo-top, .logo-bottom {
    position: fixed;
}

.logo-top {
    z-index: 200;
}

.logo-bottom {
    z-index: 100;
}


app-actor-side-bar {
    height: 100%;
}
