<mat-toolbar color="secondary">
  <button
    mat-icon-button
    aria-label="right arrow icon"
    (click)="toggleActorBar()"
    x
  >
    <fa-icon [icon]="['fas', 'bars']" class="edit"></fa-icon>
  </button>
  <span class="app-title"
    ><img
      src="../assets/images/TheaterOff.png"
      [@fade]="logoState"
      (mouseleave)="fadeIn()"
      (mouseover)="fadeOut()"
      class="logo-top"
    />
    <img src="../assets/images/TheaterOn.png" class="logo-bottom" />
    <span>heater Track</span></span
  >
  <span class="spacer"></span>
  <button mat-icon-button aria-label="home icon">
    <mat-icon
      aria-hidden="false"
      fontIcon="home"
      routerLink="/"
      *ngIf="url !== '/'"
      class="home"
    ></mat-icon>
  </button>
  <button mat-icon-button aria-label="add icon" (click)="editPlay()">
    <mat-icon aria-hidden="false" routerLink="/" class="add">add</mat-icon>
  </button>
</mat-toolbar>

<app-actor-side-bar></app-actor-side-bar>
