<mat-toolbar color="secondary">
  <button mat-icon-button aria-label="right arrow icon" (click)="toggleActorBar()">
    <mat-icon *ngIf="!actorToggleState; else closeBlock">arrow_forward</mat-icon>
    <ng-template #closeBlock> <mat-icon>arrow_backward</mat-icon></ng-template>
  </button>
  <span>Theater Track</span>
  <span class="spacer"></span>
  <button mat-icon-button aria-label="home icon">
    <mat-icon aria-hidden="false" fontIcon="home" routerLink="/" *ngIf="url !== '/'"></mat-icon>
  </button>
  <button mat-icon-button aria-label="add icon" (click)="editPlay()">
    <mat-icon aria-hidden="false" routerLink="/">add</mat-icon>
  </button>
</mat-toolbar>

<app-actor-side-bar></app-actor-side-bar>