<div class="info-title-container">
    <h2>{{selectedProject?.name}}</h2>
    <fa-icon [icon]="['fas', 'user-pen']" class="edit" (click)="edit()"></fa-icon>
    <fa-icon [icon]="['fas', 'xmark']" class="delete" (click)="deleteProject()"></fa-icon>
</div>

<div *ngIf="selectedProject?.acts?.length === 0" class="get-started">
    <h2>No Acts yet! Lets get started!</h2>
    <button mat-button class="button-style primary" (click)="getStarted()">Get Started</button>
</div>

<button mat-button class="button-style primary" *ngIf="selectedProject?.acts?.length" (click)="addAct()">Add Act</button>

<div class="project-container">
    <div class="project-info-container" *ngFor="let act of selectedProject?.acts">
        <div class="act-container">
            <div><h2>{{act.name}}</h2></div>
            <p>Scenes: {{act.scenes.length}}</p>
            <div class="icon-container">
                <fa-icon [icon]="['fas', 'plus']" (click)="addScene(act._id)"></fa-icon>
                <div>
                    <fa-icon [icon]="['fas', 'user-pen']" class="edit"></fa-icon>
                    <fa-icon [icon]="['fas', 'xmark']" class="delete" (click)="deleteAct(act)"></fa-icon>
                </div>
            </div>
        </div>
        <div class="scenes-container">
            <!-- ng for start div below  -->
            <div class="scene-container" *ngFor="let scene of act.scenes">
                <div class="scene">
                    <h3>{{scene.name}}</h3>
                    <div class="icon-container">
                        <fa-icon [icon]="['fas', 'user-pen']" class="edit"></fa-icon>
                        <fa-icon [icon]="['fas', 'xmark']" class="delete"></fa-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>