.input-container {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    mat-form-field {
        margin-top: 10px;
        height: 50px;
    }
    mat-form-field:last-child {
        margin-top: 20px;
    }
}