@import "/src/assets/styles/colors.scss";

.landing-container {
  color: $light-text-color;
  .project-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .project {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: 20px;
  }
}

.larger {
  font-size: 3em;
  text-align: center;
  margin: 15px;
}
