.landing-container {
    color: aliceblue;
    h1 {
        text-align: center;
        font-size: xx-large;
    }
    .project-container {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .project {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        border-radius: 11px;
        background: #213e45;
        box-shadow:  5px 5px 10px #16292e,
                     -5px -5px 10px #2c535c;
        margin: 20px;
    }
}