<div mat-dialog-title>
    <div>Add A Play</div>
</div>
<mat-dialog-content class="information-container">
    <form [formGroup]="editPlay" class="input-container">
        <mat-form-field>
            <input 
                formControlName="playName"
                matInput
                class="input"
                placeholder="Name of play">
        </mat-form-field>
        <mat-form-field>
            <input 
                formControlName="playImage"
                matInput
                class="input"
                placeholder="Image Link (optional)">
        </mat-form-field>
    </form>
    <img class="hero-image" src="{{playImageValue?.value}}" ImageLoadHandler [defaultSrc]="defaultImage">
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button class="button-style" (click)="cancel()">Cancel</button>
    <button mat-button class="button-style primary" (click)="save()">Save</button>
</mat-dialog-actions>