<div class="actor-container">
    <div class="actor-header">
        <h2>Actors</h2>
        <div class="icon-container">
            <fa-icon [icon]="['fas', 'plus']" class="add" (click)="edit()"></fa-icon>
            <fa-layers  (click)="bulkAdd()">
                <fa-icon [icon]="['fas', 'plus']"></fa-icon>
                <fa-icon [icon]="['fas', 'plus']" transform="down-5 left-10"></fa-icon>
                <fa-icon [icon]="['fas', 'plus']" transform="down-10 left-20"></fa-icon>
            </fa-layers>
        </div>
    </div>

    <form [formGroup]="searchForm" autocomplete="off" class="search">
        <mat-form-field>
            <div class="actor-search-field">
                <input matInput placeholder="Search an actor" formControlName="searchActors" />
                <fa-icon [icon]="['fas', 'xmark']" (click)="clearText()"></fa-icon>
            </div>
        </mat-form-field>
    </form>

    <div
    cdkDropList
    id="actorList"
    cdkDropListConnectedTo="sceneActorList"
    class="found-actors"
    *ngIf="displayedActors.length > 0; else noactorsTemp"
    >
        <div class="actor" *ngFor="let actor of displayedActors">
            <p cdkDrag [cdkDragData]="actor" title="Name: {{actor.firstName}} {{actor.lastName}}&#010;Age: {{actor.age}}&#010;Current Role: {{actor.currentCharacter}}">{{actor.firstName}} {{actor.lastName}}</p>
            <div class="icon-container">
                <fa-icon [icon]="['fas', 'user-pen']" class="edit" (click)="edit(actor)"></fa-icon>
                <fa-icon [icon]="['fas', 'xmark']" class="delete" (click)="delete(actor)"></fa-icon>
            </div>
        </div>
    </div>
</div>

<ng-template #noactorsTemp>
    <p class="no-actors pulsate">No actors found...</p>
</ng-template>