@import '/src/assets/styles/variables.scss';
@import '/src/assets/styles/colors.scss';

mat-sidenav-container {
    height: 90%;
    mat-sidenav{ 
        width: 300px;
    }
    mat-form-field {
        width: 280px;
        margin: 0 $padding;
    }
    .form-container {
        display: flex;
        justify-content: space-between;
        div {
            display: flex;
            justify-content: space-between;
            .add {
                margin-right: 15px;
            }
            .delete {
                margin-right: 5px;
            }
        }
    }
    .actor {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: $padding;
        p {
            max-width: 215px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

.no-actors {
    text-align: center;
    color: $light-text-color;
}

.pulsate {
    animation: pulsate 3s ease-out;
    animation-iteration-count: infinite; 
    opacity: 0.5;
}
@keyframes pulsate {
    0% { 
        opacity: 0.5;
    }
    50% { 
        opacity: 1.0;
    }
    100% { 
        opacity: 0.5;
    }
}

.delete {
    color: $delete-color;
    margin-right: 10px;
    margin-top: 2px;
    transform: scale(1.4);
}

.edit {
    color:$edit-color;
    margin-right: 15px;
    transform: scale(1);
}
