@import '/src/assets/styles/variables.scss';

mat-sidenav-container {
    height: 90%;
    mat-sidenav{ 
        width: 300px;
    }
    mat-form-field {
        width: 280px;
        margin: 0 $padding;
    }
    .actor {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: $padding;
    }
}

.no-actors {
    text-align: center;
    color: white;
}

.pulsate {
    animation: pulsate 3s ease-out;
    animation-iteration-count: infinite; 
    opacity: 0.5;
}
@keyframes pulsate {
    0% { 
        opacity: 0.5;
    }
    50% { 
        opacity: 1.0;
    }
    100% { 
        opacity: 0.5;
    }
}

.delete {
    color: red;
    margin-right: 10px;
    margin-top: 2px;
    transform: scale(1.4);
}

.edit {
    color:rgb(30, 95, 104);
    margin-right: 15px;
    transform: scale(1);
}
