<div mat-dialog-title>
    <div>{{title}}</div>
</div>
<mat-dialog-content>
    <form [formGroup]="editActor" autocomplete="off" class="input-container form">
        <mat-form-field>
            <input 
                formControlName="actorFirstName"
                matInput
                type="text"
                class="input"
                placeholder="First Name">
        </mat-form-field>
        <mat-form-field>
            <input 
                formControlName="actorLastName"
                matInput
                type="text"
                class="input"
                placeholder="Last Name">
        </mat-form-field>
        <mat-form-field>
            <input 
                formControlName="actorCurrentCharacter"
                matInput
                type="text"
                class="input"
                placeholder="Current Character">
        </mat-form-field>
        <mat-form-field>
            <input 
                formControlName="actorAge"
                matInput
                type="number"
                class="input"
                placeholder="Age">
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button class="button-style" (click)="cancel()">Cancel</button>
    <button mat-button class="button-style primary" (click)="save()">Save</button>
</mat-dialog-actions>
