mat-card {
    width: 160px;
    height: 250px;
    mat-card-title {
        text-align: left;
        width: 150px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    mat-card-subtitle {
        margin-top: 15px!important;
    }
    img {
        width: 135px;
        height: 180px;
        margin: 0 auto;
    }
}