.actor-container {
    position: fixed;
    min-width: 300px;
    max-width: 300px;
    background-color: #100c08;
    height: 100vh;
    .actor-header {
        display: flex;
        justify-content: space-between;
        h2 {
            color: aliceblue;
            text-align: left;
            margin-left: 10px;
        }
        .add {
            color: green;
            transform: scale(2);
            align-self: center;
            margin-right: 10px;
            margin-bottom: 5px;
        }
    }

    .found-actors{
        color: rgb(235, 225, 213);
        margin-left: 10px;
        .actor {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid green;
            p {
                font-size: 10px;
                white-space: nowrap;
                max-width: 200px;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .icon-container {
                align-self: center;
                min-width: 45px;
                display: flex;
                justify-content: space-around;
                .edit {
                    color:rgb(30, 95, 104);
                    margin-right: 15px;
                    transform: scale(1.5);
                }
                .delete {
                    color: red;
                    margin-right: 10px;
                    transform: scale(2);
                }
            }
        }
    }
}