.actor-container {
    position: fixed;
    min-width: 300px;
    background-color: #100c08;
    height: 100vh;
    h2 {
        color: aliceblue;
        text-align: left;
        margin-left: 10px;
    }

    .found-actors{
        color: rgb(235, 225, 213);
        margin-left: 10px;
        .actor {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid green;
            p {
                font-size: 10px;
            }
            .icon-container {
                align-self: center;
                min-width: 45px;
                display: flex;
                justify-content: space-around;
                .edit {
                    color:rgb(30, 95, 104);
                    margin-right: 15px;
                    transform: scale(1.5);
                }
                .delete {
                    color: red;
                    margin-right: 10px;
                    transform: scale(2);
                }
            }
        }
    }
}