@import "/src/assets/styles/colors.scss";

.delete {
  color: $delete-color;
}

.act-panel {
  position: absolute;
  top: 1px;
  right: 5px;
  z-index: 200;
  border: 3px solid $darkest-background-color;
  background-color: $dark-accent-color;
  button {
    line-height: 0px !important;
    height: 30px !important;
  }
}

.badge {
  color: $light-subtext-color;
}

.scene-name {
  font-size: 1.5em;
  color: $light-subtext-color;
}

.scene-container {
  margin-top: 25px;
  min-height: 50px;
}

.scene-item {
  margin: 5px 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

::ng-deep .scene-icons {
  align-items: center;
  .svg-inline--fa {
    font-size: 23px;
  }
}
