<div class="info-title-container">
    <h2>{{selectedProject?.name}}</h2>
    <fa-icon [icon]="['fas', 'user-pen']" class="edit" (click)="editProject()"></fa-icon>
    <fa-icon [icon]="['fas', 'xmark']" class="delete" (click)="deleteProject()"></fa-icon>
</div>

<button mat-button class="button-style primary"  (click)="editAct(selectedProject!._id)">Add Act</button>

<div *ngIf="selectedProject?.acts?.length === 0" class="no-acts">
    <h3 class="pulsate">No Acts Yet...</h3>
</div>

<div class="project-container">
    <div class="project-info-container" *ngFor="let act of selectedProject?.acts">
        <div class="act-container">
            <div><h2>{{act.name}}</h2></div>
            <p>Scenes: {{act.scenes.length}}</p>
            <div class="icon-container">
                <fa-icon [icon]="['fas', 'plus']" (click)="editScene(act._id)"></fa-icon>
                <div>
                    <fa-icon [icon]="['fas', 'user-pen']" class="edit" (click)="editAct(selectedProject!._id, act)"></fa-icon>
                    <fa-icon [icon]="['fas', 'xmark']" class="delete" (click)="deleteAct(act)"></fa-icon>
                </div>
            </div>
        </div>
        <div class="scenes-container">
            <div class="scene-container" *ngFor="let scene of act.scenes">
                <div class="scene">
                    <h3 (click)="goToScene(selectedProject!, act, scene)">{{scene.name}}</h3>
                    <div class="icon-container">
                        <fa-icon [icon]="['fas', 'user-pen']" class="edit" (click)="editScene(act._id, scene)"></fa-icon>
                        <fa-icon [icon]="['fas', 'xmark']" class="delete" (click)="deleteScene(scene)"></fa-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>