<div class="act-panel">
  <button mat-icon-button>
    <fa-icon [icon]="['fas', 'plus']" (click)="editScene(act._id)"></fa-icon>
  </button>
  <button mat-icon-button>
    <fa-icon [icon]="['fas', 'print']" (click)="printCSV(act)"></fa-icon>
  </button>
  <button mat-icon-button>
    <fa-icon
      [icon]="['fas', 'user-pen']"
      (click)="editAct(selectedProject!._id, act)"
    ></fa-icon>
  </button>
  <button mat-icon-button>
    <fa-icon [icon]="['fas', 'xmark']" (click)="deleteAct(act)"></fa-icon>
  </button>
</div>

<div class="scene-container">
  <ng-container *ngFor="let scene of act.scenes">
    <mat-card class="scene-item">
      <mat-card-title (click)="goToScene(selectedProject!, act, scene)">{{
        scene.name
      }}</mat-card-title>
      <span
        matBadge="{{ scene.actors.length }}"
        matBadgeOverlap="false"
        matBadgeColor="accent"
        class="actor-icon"
        >Actors</span
      >
      <mat-card-subtitle class="scene-icons">
        <fa-icon
          [icon]="['fas', 'user-pen']"
          class="edit"
          (click)="editScene(act._id, scene)"
        ></fa-icon>
        <fa-icon
          [icon]="['fas', 'xmark']"
          class="delete"
          (click)="deleteScene(scene)"
        ></fa-icon>
      </mat-card-subtitle>
    </mat-card>
  </ng-container>
</div>
