.info-title-container {
    display: flex;
    justify-content: center;
    h2 {
        font-size: x-large;
        text-align: center;
        color: aliceblue;
    }
    .edit {
        color:rgb(30, 95, 104);
        margin-right: 15px;
        transform: scale(1.1);
        align-self: center;
        margin-left: 10px;
    }
    .delete {
        color: red;
        margin-right: 10px;
        margin-top: 2px;
        transform: scale(1.4);
        align-self: center;
    }
}

.no-acts {
    text-align: center;
    margin-top: 15%;
    color: white;
    .pulsate {
        animation: pulsate 3s ease-out;
        animation-iteration-count: infinite; 
        opacity: 0.5;
    }
    @keyframes pulsate {
        0% { 
            opacity: 0.5;
        }
        50% { 
            opacity: 1.0;
        }
        100% { 
            opacity: 0.5;
        }
    }
}

.project-container{
    margin-right: 25px;
    border-radius: 2%;
    .project-info-container {
        display: flex;
        margin-top: 25px;
        padding: 10px;
        .act-container {
            display: flex;
            flex-direction: column;
            background-color: grey;
            color: white;
            border-radius: 2%;
            padding: 3px;
            width: 10%;
            div {
                h2 {
                    text-align: center;
                }
            }
            .icon-container {
                display: flex;
                justify-content: space-between;
                margin-top: auto;
            }
        }
        .scenes-container {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            min-height: 200px;
            max-height: 200px;
            .scene-container {
                margin-left: 5px;
                background-color: #BDC696;
                margin: 2px 1px 1px 5px;
                width: 200px;
                height: 30px;
                .scene {
                    display: flex;
                    justify-content: space-between;
                    margin: 5px;
                    h3 {
                        margin-left: 5px;
                        margin: 0;
                    }
                    .icon-container {
                        margin-right: 13px;
                        align-self: center;
                    }
                }
            }
        }
    }
}

.edit {
    color: #295f68;
    margin-right: 5px;
}

.delete {
    color: red;
}
.print {
    margin-left: 5px;
}

button {
    margin-right: 1.5%;
    font-size: small;
    align-self: center;
    width: 110px;
    height: 27px;
    padding: 7px 0px 0px 0px;
    line-height: 0px!important;
}